* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MontserratSB";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsM";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsSB";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsR";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 200px;
}

.header {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_icon {
  height: 35px;
}

.title {
  font-size: 40px;
  font-family: "MontserratSB", sans-serif;
  text-align: center;
}

.layout {
  width: 100%;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 70px;

  align-items: center;
}

.add_button_container {
  width: 100%;

  display: flex;
  gap: 20px;

  justify-content: flex-end;
  align-items: center;

  margin-top: 50px;
}

.button-8 {
  background-color: rgba(102, 82, 175, 0.26);
  border-radius: 3px;
  border: 1px solid #312070;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #312070;
  cursor: pointer;
  display: inline-block;
  font-family: "PoppinsM";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: rgba(49, 32, 112, 0.26);
  color: #312070;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.button-9 {
  background-color: rgba(255, 193, 193, 0.26);
  border-radius: 3px;
  border: 1px solid #ff1c1c;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #ff1c1c;
  cursor: pointer;
  display: inline-block;
  font-family: "PoppinsM";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-9:hover,
.button-9:focus {
  background-color: rgba(112, 32, 32, 0.26);
  color: #ff1c1c;
}

.button-9:focus {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.15);
}

.button-9:active {
  background-color: #e4a0a0;
  box-shadow: none;
  color: #772c2c;
}

.services_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first_last {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.service_icon {
  height: 40px;
  width: 40px;
}

.service_name {
  font-family: "NunitoSans", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.button-text {
  white-space: nowrap;
}

.edit {
  color: #312070;
}

.delete {
  color: #eb3223;
}
